<% if current_user %>
  <%= form_for :tip do |f| %>
      <%= f.text_field :to, placeholder: "To" %>
      <%= f.text_field :amount, placeholder: "Amount" %>
      <%= f.submit "Send Tip" %>
  <% end %>
<% end %>
<% if @balance %>
  <p>Balance: <%= @balance %> doge</p>
<% end %>